body {
    background-color: #8fcfd1;
    height: 100vh;
    width: 100vw;
}

// 1 home page
.home,
.selectside {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .playermode {
        margin-top: 10px;

        a:first-child {
            margin-right: 10px;
        }

        a {
            font-size: 30px;
        }
    }
}

h4 {
    text-align: center;
}

// 2 game
.game-page {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .player1Side,
    .CPUSide {
        text-align: center;
        width: 70px;

        h2 {
            font-size: 50px;
        }
    }

    .game {
        display: flex;
        width: 241px;
        flex-wrap: wrap;
        margin: 0 auto 40px auto;

        div {
            padding: 0;
            height: 80px;
            width: 80px;
            font-size: 50px;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }

        div:nth-child(3n) {
            border-right: none;
        }

        div:nth-child(7),
        div:nth-child(8),
        div:nth-child(9) {
            border-bottom: none
        }
    }

    .announcement {
        height: 50px;
    }
}

.side-info {
    display: flex;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    justify-content: space-between;

    h2 {
        margin-bottom: 0 !important;
    }
}

.item {
    position: relative;
    height: 80px;
    width: 80px;
    text-align: center;

}

.win {
    &.addLineHorizontal:after {
        content: '';
        width: 100%;
        border-bottom: solid 1px black;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
    }

    &.addLineVertical:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -50%;
        top: 0%;
        z-index: 6;
        border-right: 1px solid black;
    }

    &.addLineDiagonalRight:after {
        content: '';
        width: 100%;
        height: 144%;
        position: absolute;
        left: -33%;
        top: 14%;
        z-index: 6;
        border-right: 1px solid black;
        transform: rotate(-45deg);
    }

    &.addLineDiagonalLeft:after {
        content: '';
        width: 100%;
        height: 144%;
        position: absolute;
        left: -35%;
        top: -56%;
        z-index: 6;
        border-right: 1px solid black;
        transform: rotate(45deg);
    }
}